@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: MyFont;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family:"MyFont";
  src:local("MyFont"), url(./assets/fonts/em/em/TTF/em.ttf) format("ttf");
}